.page {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $main-body-color;
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__menu {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
  }

  &__main {
    p {
      margin: 0;
    }
  }
}
